# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"

// this will be revoked after 1 week the final submission to avoid abusing this key 
// - you have been warned
SENDGRID_API_KEY="SG.NOT-A-REAL-KEY"

// ideally this should be loaded from an env var/secret file
SESSION_SECRET='supersecretkey'