:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    max-width: 1600px;
    margin: 0 auto;
}

/* remove the search border for clean custom look */
.MuiAutocomplete-root .MuiOutlinedInput-root.Mui-focused,
.MuiAutocomplete-root .MuiOutlinedInput-notchedOutline {
    border: none !important;
}

/* required if we use a custom search bar border to ensure the animated search text doesnt clip the border */
.MuiInputLabel-root {
    background-color: #e7faf3;
}
